# Go
/bin/
/dist/
/build/
*.exe
*.test
*.out

# Go workspaces
go.work
go.work.sum

# Vendor (если используешь)
vendor/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.key
*.pem

# Logs
*.log

agents.md
AGENTS.md